html
  head
    title='System update in progress'
  body
    h1='System update in progress'
    p='An updated version of '+ name +' is currently being deployed.'
    p='The system may be unavailable for '+ duration +' during the update.'